<div class="form-group">
    <label>Search:</label>
    <input type="text" ng-model='store.search.name' class="form-control">
</div>
<div class='cont'>
    <nav>
        <category-select active-category='store.search.category'></category-select>
    </nav>
    <!--  Products Container  -->
    <div class="list-group flex-column">
        <!--  Product Container  -->
        <div ng-repeat='product in store.products | filter:store.search' class="list-group-item">
            <!-- Product Title -->
            <product-list product='product'></product-list>
        </div>
    </div>
</div>